html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.878);
}
body{

    background-color:rgb(9, 9, 9);
}
.roomContainer {
 
    height: 100%;
    width: 100%;
}